

h1
{
	color:#E9A275;
	background-color: #f52452;
	font-size: 70;
	text-align: center;
	justify-content: center;
	font-family: 'Dancing Script', 'Arial', cursive;
}

h5
{
	font-size: 20;
	text-align: center;
	font-family: 'Pacifico', 'Arial', cursive;
}